:root {
  --bs-body-color: #eee;
  --bs-body-color-rgb: 238,238,238;
  --bs-body-bg: #111;
  --bs-body-bg-rgb: 17,17,17;
  --bs-emphasis-color: rgb(250,250,250);
  --bs-emphasis-color-rgb: 250,250,250;
  --bs-secondary-color: rgba(233, 236, 239, 0.75);
  --bs-secondary-color-rgb: 233,236,239;
  --bs-secondary-bg: rgb(33,37,41);
  --bs-secondary-bg-rgb: 33,37,41;
  --bs-tertiary-color: rgba(248, 249, 250, 0.5);
  --bs-tertiary-color-rgb: 248,249,250;
  --bs-tertiary-bg: rgb(33,37,41);
  --bs-tertiary-bg-rgb: 33,37,41;
  --bs-border-color: #22262a;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.175);
  
  --footer-bg: rgb(var(--bs-dark-rgb));
  --button-border-rgb: 60,60,60;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.65 !important;
}