:root {
  --colgroup-alt-background: rgba(127,127,127,0.2);
  --column-alt-background: rgba(127,127,127,0.3);
}

.list td, .list th {
  white-space: nowrap;
  padding: 0px 1px;
}

td.list-item-field {
	vertical-align: middle;
}

.list th {
  text-align: center;
}

.table-list {
  border-collapse: separate;
  border-spacing: 2px 0px;
}

.table-list thead tr:last-child, .table-list thead tr:last-child th {
  border-bottom: 2px solid rgba(127,127,127,0.6);
}

thead.sticky-js {
  background-color: var(--bs-body-bg);
}

thead {
  box-shadow: 0px -2em 1.5em 0.5em rgba(127,127,127,0.3) inset;
}

.alt-bgs > *:nth-of-type(2n) {
  box-shadow: 0px 0px 2em 2em rgba(127,127,127,0.1) inset;
}

.alt-bgs > *, .alt-bgs > tr > td, .alt-bgs > tr > th {
  border-bottom: 1px solid rgba(127,127,127,0.4);
}

.group-starter {
  border-left: 2px solid rgba(127,127,127,0.6);
}

.group-ender {
  border-right: 2px solid rgba(127,127,127,0.6);
}

.group-collapsed *
{
  display: none !important;
}

.group-row, .group-row th, .group-row td {
  padding: 0px;
  border-bottom: 1px solid rgba(127,127,127,0.9);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.group-header {
  cursor: pointer;
  text-align: center;
}

.group-header div {
  background-color: rgba(127,127,127,0.5);
  padding: 1px 3px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.sortable {
  cursor: pointer;
  padding-right: 0.4em;
}

.sortable.sorted::after {
  content: "\1f823";
  position: absolute;
}

.sortable.sorted-r::after {
  content: "\1f821";
  position: absolute;
}

/* Showcase */

.showcase {
}

.showcase-row {
  display: flex;
  margin-bottom: 0.5rem;
  gap: 0.7em;
}

.showcase-talents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.showcase-talent {
  position: relative;
  height: 1em;
  font-size: 2em;
  width: 1em;
  line-height: 1em;
}

.showcase-talent > span {
  position: absolute;
  top: -0.07em;
  display: block;
  width: 100%;
  z-index: 1;
  font-weight: bold;
  font-size: 0.6em;
  text-align: center;
  text-shadow: 0px 0px 3px black;
  color: white;
  filter: drop-shadow(0px 0px 1px black);
}

.showcase-talent > img {
  height: 100%;
  filter: grayscale(0.4) opacity(0.8) brightness(0.8);
  vertical-align: unset;
}

.showcase-talent > span.increased {
  color: #99ff99;
}

.showcase-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.showcase-stats > * {
  display: flex;
}

.showcase-stats-a {
  flex: 0 0 9ex;
}

.showcase-stats-b {
  flex: 0 0 10.5ex;
}

.showcase-substats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 0.8em;
}

.showcase-substats > * {
  display: flex;
}

.showcase-substats-a {
  flex: 0 0 7ex;
}

.showcase-substats-b {
  flex: 0 0 7.5ex;
}

.showcase-stats img,
.showcase-substats img {
  height: 1.2em;
}

.showcase-artifacts {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  gap: 0.5em;
  justify-content: space-around;
}

.showcase-artifacts > div {
  flex: 1 0;
}

.highlighted {
  /*background: linear-gradient(to right, rgb(50,200,255), transparent 2em);*/
  transform: scale(1.1);
  /*border-radius: 1ex;*/
}

.unhighlighted {
  opacity: 0.4;
}

.material-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
  justify-content: center;
}

.material-row .list-item {
  margin: 0.5em;
  flex: 0 0 7.2%;
}
