@import "list.css";
@import "popup.css";

.navbar-brand {
  padding: 0px;
}

.navbar-brand .dropdown-toggle img {
  border-radius: 1em;
  height: 2em;
}

.dropdown-menu {
  z-index: 1020;
}

.sticky-bottom {
  z-index: 1019;
}

.icon {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.icon img {
  height: 2.2em;
}

.icon-inline {
  height: 1em;
}

i.edit-element {
  margin-left: 1ex;
  margin-right: 1ex;
}

[href] {
  cursor: pointer;
}

/* Utilities */

.sticky-js {
  position: relative;
  z-index: 10;
}

input:not(.form-control)::-webkit-outer-spin-button,
input:not(.form-control)::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]:not(.form-control) {
  -moz-appearance: textfield;
}

input.edit-element:not(.form-control) {
  min-width: 4ex;
  margin: 0px;
  border: 0px;
  padding: 0px;
  outline: 1px inset black;
  background-color: rgba(127,127,127,0.2);
  border-radius: 2px;
}

.field-button {
  border-radius: 1ex;
  margin-left: 1ex;
  font-size: 0.8em;
}

span.quantity, .quantity > span:not(.value) {
  border-radius: 1ex;
  display: inline-block;
  margin-right: 1ex;
  padding: 2px 4px;
  min-width: 4em;
  text-align: center;
}

span.material, .material > span:not(.value) {
  border-radius: 1ex;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  padding: 1px 3px;
}

span.q1, .q1 > span:not(.value) {
  background-color: rgba(127, 127, 127, 0.4);
  border-color: rgba(127, 127, 127, 0.9);
}

span.q2, .q2 > span:not(.value) {
  background-color: rgba(80, 255, 40, 0.4);
  border-color: rgba(80, 255, 40, 0.9);
}

span.q3, .q3 > span:not(.value) {
  background-color: rgba(50, 60, 255, 0.4);
  border-color: rgba(50, 60, 255, 0.9);
}

span.q4, .q4 > span:not(.value) {
  background-color: rgba(200, 20, 200, 0.4);
  border-color: rgba(200, 20, 200, 0.9);
}

span.q5, .q5 > span:not(.value) {
  background-color: rgba(205, 183, 20, 0.4);
  border-color: rgba(205, 183, 20, 0.9);
}

.today > span {
  border-radius: 1ex;
  display: inline-block;
  padding: 2px 4px;
  background-color: rgba(120,180,60,0.3);
}

.pending {
  background-color: rgba(255,255,0,0.3) !important;
}

.sufficient {
  background-color: rgba(0,255,0,0.3) !important;
}

.insufficient {
  background-color: rgba(255,0,0,0.3) !important;
}

.list-item-field.undesirable {
  background-color: rgba(255,0,0,0.3) !important;
}

.viewer-pane:not(.current-view) {
  display: none !important;
}

.shrink {
	visibility: hidden;
	width: 0px;
}

.editable {
  cursor: pointer;
  min-width: 1ex;
  min-height: 1em;
}

i.editable,
span.editable {
  display: inline-block;
}

.list-item-field.editable:not(.editing) input,
.list-item-field.editable:not(.editing) select {
  display: none;
}

.list-item-field.editable.editing span,
.list-item-field.editable.editing img,
.list-item-field.editable.editing button {
  display: none;
}

*:not(.editing) > .edit-element:not(i,.apply-self) {
  display: none;
}

.editing > *:not(.edit-element) {
  display: none;
}

option:disabled {
  display: none;
}

.show-notice {
  position: relative;
}

.notice {
  color: #d66;
  display: none !important;
  position: absolute;
  top: -2px;
  right: -2px;
}

.show-notice .notice {
  display: block !important;
}

.list-item-field {
  position: relative;
}
