@import "list.css";
@import "popup.css";
@import "icons.css";

:root {
  --rarity-grey: 0 0 50;
  --rarity-green: 120 100 40;
  --rarity-blue: 220 100 50;
  --rarity-purple: 280 100 50;
  --rarity-gold: 50 100 40;
  --rarity-bg-alpha: 0.3;
  --rarity-border-alpha: 0.6;
}

/* Specific Elements */

#footer {
  background-color: var(--footer-bg);
  border-top: 1px solid rgba(127,127,127,0.25);
}

#darkModeToggle {
  width: 3em;
  height: 2em;
  background-image: url(../img/sun.svg);
  background-size: 55%;
  background-position: 0.2em center;
  border-color: #999;
  box-shadow: none;
}

#darkModeToggle:checked {
  background-image: url(../img/moon.svg);
  background-position: 1.1em center;
  background-color: black;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand .dropdown-toggle img {
  border-radius: 1em;
  height: 2em;
}

/* Global Generic Elements */

.dropdown-menu {
  z-index: 1020;
}

.sticky-bottom {
  z-index: 1019;
}

.icon {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.icon img {
  height: 2em;
}

.icon-inline {
  height: 1em;
}

.black-icon {
  filter: var(--image-icon-filter);
}

i.edit-element {
  margin-left: 1ex;
  margin-right: 1ex;
}

[href] {
  cursor: pointer;
}

/* Utilities */

.sticky-js {
  position: relative;
  z-index: 10;
}

input:not(.form-control)::-webkit-outer-spin-button,
input:not(.form-control)::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]:not(.form-control) {
  -moz-appearance: textfield;
}

input.edit-element:not(.form-control) {
  margin: 0px;
  border: 0px;
  padding: 0px;
  outline: 1px inset black;
  background-color: rgba(127,127,127,0.2);
  border-radius: 2px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: var(--bs-body-color);
  text-align: inherit;
}

.field-button {
  border-radius: 1ex;
  margin-left: 1ex;
  font-size: 0.8em;
  background-color: var(--bs-secondary-bg);
  color: var(--bs-emphasis-color);
  border-color: rgba(var(--button-border-rgb),0.9);
}

.field-button:disabled {
  background-color: var(--bs-tertiary-bg);
  color: var(--bs-tertiary-color);
  border-color: rgba(var(--button-border-rgb),0.4);
}

span.quantity, .quantity > span:not(.value) {
  border-radius: 1ex;
  display: inline-block;
  margin-right: 1ex;
  padding: 2px 4px;
  min-width: 4em;
  text-align: center;
}

span.material, .material > span:not(.value) {
  border-radius: 1ex;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  padding: 1px 3px;
}

span.q1, .q1 > span:not(.value) {
  background-color: hsla(var(--rarity-grey) / var(--rarity-bg-alpha));
  border-color: hsla(var(--rarity-grey) / var(--rarity-border-alpha));
}

span.q2, .q2 > span:not(.value) {
  background-color: hsla(var(--rarity-green) / var(--rarity-bg-alpha));
  border-color: hsla(var(--rarity-green) / var(--rarity-border-alpha));
}

span.q3, .q3 > span:not(.value) {
  background-color: hsla(var(--rarity-blue) / var(--rarity-bg-alpha));
  border-color: hsla(var(--rarity-blue) / var(--rarity-border-alpha));
}

span.q4, .q4 > span:not(.value) {
  background-color: hsla(var(--rarity-purple) / var(--rarity-bg-alpha));
  border-color: hsla(var(--rarity-purple) / var(--rarity-border-alpha));
}

span.q5, .q5 > span:not(.value) {
  background-color: hsla(var(--rarity-gold) / var(--rarity-bg-alpha));
  border-color: hsla(var(--rarity-gold) / var(--rarity-border-alpha));
}

.today > span {
  border-radius: 1ex;
  display: inline-block;
  padding: 2px 4px;
  background-color: rgba(120,180,60,0.3);
}

.pending {
  background-color: rgba(255,255,0,0.3) !important;
}

.sufficient {
  background-color: rgba(0,255,0,0.3) !important;
}

.insufficient {
  background-color: rgba(255,0,0,0.3) !important;
}

.list-item-field.undesirable {
  background-color: rgba(255,0,0,0.3) !important;
}

.viewer-pane:not(.current-view) {
  display: none !important;
}

.shrink {
	visibility: hidden;
	width: 0px;
}

.list-item-field {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.list-item-field .sub-0 {
  flex: 1 1 max-content;
}

.editable {
  cursor: pointer;
  min-width: 1ex;
  min-height: 1em;
  position: relative;
}

i.editable,
span.editable {
  display: inline-block;
}

.list-item-field.editable:not(.editing) input,
.list-item-field.editable:not(.editing) select {
  display: none;
}

.list-item-field.editable.editing span,
.list-item-field.editable.editing img,
.list-item-field.editable.editing button {
  display: none;
}

.list-item-field.at-max .value {
  opacity: 0.5;
}

*:not(.editing) > .edit-element:not(i,.apply-self) {
  display: none;
}

.editing > *:not(.edit-element) {
  visibility: hidden;
}

option:disabled {
  display: none;
}

.show-notice {
  position: relative;
}

.notice {
  color: #d66;
  display: none !important;
  position: absolute;
  top: -2px;
  right: -2px;
}

.show-notice .notice {
  display: block !important;
}

.form-range::-moz-range-track {
  background-color: #ddd;
}
