.popup, .popup-trigger {
  cursor: help;
}

/*#popup table.table {
  --bs-table-bg: var(--body-bg);
  --bs-table-color: var(--body-text);
}

.breadcrumb {
  --bs-breadcrumb-divider-color: var(--body-text);
  --bs-breadcrumb-item-active-color: var(--body-text);
}*/

.breadcrumb-item:not(.active) span {
  cursor: pointer;
}

.breadcrumb-item.active span {
  font-weight: bold;
}

.popup-section {
  border: 1px solid rgba(120,120,120,0.8);
  border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  overflow: hidden;
}

.popup-section-header {
  margin: 0px;
  padding: 0.2em;
  background: linear-gradient(to top, rgba(100,100,100,0.6), rgba(155,155,155,0.6));
}

.popup-section-content {
  padding: 0.5em 0em;
}

.popup-subsection {
  border: 1px solid rgba(120,120,120,0.5);
  border-radius: 0.75em;
  overflow: hidden;
  margin: 0.5em 0.2em;
}

.popup-subsection-header {
  margin: 0px;
  padding: 0.15em;
  background: linear-gradient(to top, rgba(100,100,100,0.3), rgba(155,155,155,0.3));
}

.popup-subsection-content {
  padding: 0.25em 0.2em;
}

.collapsed[data-bs-toggle="collapse"]::before {
  content: "\25B8";
}

[data-bs-toggle="collapse"]:not(.collapsed)::before {
  content: "\25BE";
}

.plan-materials {
  margin-top: 0.5em;
}

.plan-materials .sub-0 {
  display: block;
}

.plan-material {
  margin: 0.1em 1ex;
  display: inline-block;
}
