<li class="nav-item ms-3">
  <button class="btn btn-primary" data-bs-target="#loadModal" data-bs-toggle="modal" title="Import your data from a file or URL."><i class="fa-solid fa-file-import"></i></button>
</li>

<li class="nav-item ms-3">
  <button class="btn btn-success" data-bs-target="#saveModal" data-bs-toggle="modal" title="Export your data to a file or URL."><i class="fa-solid fa-download"></i></button>
</li>

<li class="nav-item ms-3">
  <button class="btn btn-secondary" data-bs-target="#editModal" data-bs-toggle="modal" title="Switch to another account or create a new one from scratch."><i class="fa-solid fa-user-pen"></i></button>
</li>

<li class="nav-item ms-3">
  <button class="btn btn-outline-light" data-bs-target="#prefsModal" data-bs-toggle="modal" title="Change your preferences regarding how the information on the app is displayed."><i class="fa-solid fa-gear"></i></button>
</li>
