<div class="character-stats popup-section" data-template="genshin/renderCharacterStats" data-uuid="{{uuid item}}">
    <h3 class="popup-section-header collapsed" data-bs-toggle="collapse" href="#characterStats" title="All values should be accurate, though some may differ from what you see in game very slightly due to rounding errors. However, most characters and weapons still do not have their passives/cons factored in; you can see what bonusus are being applied in the Modifiers section, as well as toggle temporary/conditional bonuses on or off. Additionally, some numbers, especially preview numbers, may not update after every change you make. That said, changing artifact previews will force the entire stat section to update.">Current Stats (Work-in-Progress)</h3>
    <div id="characterStats" class="collapse popup-section-content">
        <div class="row m-0">
            <div class="col-3">
              {{> renderItemField item=item field="activeTeam" wrapper="span"}}
            </div>
            <div class="col-3">
              {{> renderItemField item=item field="teammate" params=(array 0) wrapper="u"}}
            </div>
            <div class="col-3">
              {{> renderItemField item=item field="teammate" params=(array 1) wrapper="u"}}
            </div>
            <div class="col-3">
              {{> renderItemField item=item field="teammate" params=(array 2) wrapper="u"}}
            </div>
        </div>
        
<!--    MAIN STATS    -->
        <div class="popup-subsection">
            <h4 class="popup-subsection-header" data-bs-toggle="collapse" href="#characterStats.MainStats">Main Stats</h4>
          {{> genshin/renderCharacterMainStats .}}
        </div>
      
<!--    NORMAL ATTACKS    -->
        <div class="popup-subsection">
            <h4 class="popup-subsection-header" data-bs-toggle="collapse" href="#characterStats.auto">Normal Attack</h4>
          {{> genshin/renderCharacterMotionValues . talent="auto"}}
        </div>
      
<!--    ELEMENTAL SKILL    -->
        <div class="popup-subsection">
            <h4 class="popup-subsection-header" data-bs-toggle="collapse" href="#characterStats.skill">Elemental Skill</h4>
          {{> genshin/renderCharacterMotionValues . talent="skill"}}
        </div>
      
<!--    ELEMENTAL BURST    -->
        <div class="popup-subsection">
            <h4 class="popup-subsection-header" data-bs-toggle="collapse" href="#characterStats.burst">Elemental Burst</h4>
          {{> genshin/renderCharacterMotionValues . talent="burst"}}
        </div>
      
<!--    REACTIONS    -->
        <div class="popup-subsection">
            <h4 class="popup-subsection-header" data-bs-toggle="collapse" href="#characterStats.Reactions">Reactions</h4>
          {{> genshin/renderCharacterReactions .}}
        </div>
      
<!--    PROCS    -->
        <div class="popup-subsection">
            <h4 class="popup-subsection-header" data-bs-toggle="collapse" href="#characterStats.ConditionalModifiers">Modifiers</h4>
          {{> genshin/renderCharacterStatModifiers .}}
        </div>
      
<!--    ENEMY STATS    -->
        <div class="popup-subsection">
          <h4 class="popup-subsection-header" data-bs-toggle="collapse" href="#characterStats.TargetEnemyStats">Target Enemy Stats</h4>
          <div id="characterStats.TargetEnemyStats" class="collapse show popup-subsection-content">
              <div class="row gx-1">
                <div class="col-2"><label for="enemyLevel" class="form-text">Level</label><input id="enemyLevel" class="enemy-stat form-control form-control-sm" type="number" min="1" max="100" value="{{item.list.targetEnemyData.enemyLevel}}"/></div>
                <div class="col-2"><label for="enemyAnemoRES" class="form-text">Anemo RES</label><input id="enemyAnemoRES" class="enemy-stat form-control form-control-sm" type="number" value="{{item.list.targetEnemyData.enemyAnemoRES}}"/></div>
                <div class="col-2"><label for="enemyCryoRES" class="form-text">Cryo RES</label><input id="enemyCryoRES" class="enemy-stat form-control form-control-sm" type="number" value="{{item.list.targetEnemyData.enemyCryoRES}}"/></div>
                <div class="col-2"><label for="enemyDendroRES" class="form-text">Dendro RES</label><input id="enemyDendroRES" class="enemy-stat form-control form-control-sm" type="number" value="{{item.list.targetEnemyData.enemyDendroRES}}"/></div>
                <div class="col-2"><label for="enemyElectroRES" class="form-text">Electro RES</label><input id="enemyElectroRES" class="enemy-stat form-control form-control-sm" type="number" value="{{item.list.targetEnemyData.enemyElectroRES}}"/></div>
                <div class="col-2"><label for="enemyGeoRES" class="form-text">Geo RES</label><input id="enemyGeoRES" class="enemy-stat form-control form-control-sm" type="number" value="{{item.list.targetEnemyData.enemyGeoRES}}"/></div>
                <div class="col-2"><label for="enemyHydroRES" class="form-text">Hydro RES</label><input id="enemyHydroRES" class="enemy-stat form-control form-control-sm" type="number" value="{{item.list.targetEnemyData.enemyHydroRES}}"/></div>
                <div class="col-2"><label for="enemyPyroRES" class="form-text">Pyro RES</label><input id="enemyPyroRES" class="enemy-stat form-control form-control-sm" type="number" value="{{item.list.targetEnemyData.enemyPyroRES}}"/></div>
                <div class="col-2"><label for="enemyPhysicalRES" class="form-text">Physical RES</label><input id="enemyPhysicalRES" class="enemy-stat form-control form-control-sm" type="number" value="{{item.list.targetEnemyData.enemyPhysicalRES}}"/></div>
              </div>
          </div>
        </div>
      
<!--    PREVIEW CHANGES    -->
        <div class="popup-subsection">
          <h4 class="popup-subsection-header" data-bs-toggle="collapse" href="#characterStats.PreviewChanges">Preview Changes</h4>
          <div id="characterStats.PreviewChanges" class="collapse show popup-subsection-content">
              <div class="row gx-1">
                <div class="col-2"><label class="form-text">Character Level</label>{{> renderItemField item=item field="previewLevel" wrapper="div"}}</div>
                <div class="col-2"><label class="form-text">Char. Ascension</label>{{> renderItemField item=item field="previewAscension" wrapper="div"}}</div>
                <div class="col-2"><label class="form-text">Constellations</label>{{> renderItemField item=item field="previewConstellation" wrapper="div"}}</div>
                <div class="col-2"><label class="form-text">Auto Level</label>{{> renderItemField item=item field="previewTalent" params=(array "auto") wrapper="div"}}</div>
                <div class="col-2"><label class="form-text">Auto Level</label>{{> renderItemField item=item field="previewTalent" params=(array "skill") wrapper="div"}}</div>
                <div class="col-2"><label class="form-text">Auto Level</label>{{> renderItemField item=item field="previewTalent" params=(array "burst") wrapper="div"}}</div>
                <div class="col-2"><label class="form-text">Weapon</label>{{> renderItemField item=item field="previewWeapon" wrapper="div"}}</div>
                <div class="col-2"><label class="form-text">Weapon Level</label>{{> renderItemField item=item field="previewWeaponLevel" wrapper="div"}}</div>
                <div class="col-2"><label class="form-text">Weap. Ascension</label>{{> renderItemField item=item field="previewWeaponAscension" wrapper="div"}}</div>
                <div class="col-2"><label class="form-text">Weap. Refinement</label>{{> renderItemField item=item field="previewWeaponRefinement" wrapper="div"}}</div>
                <div class="col-2"><label class="form-text">Set Bonus 1</label>{{> renderItemField item=item field="previewArtifactSet" params=(array 0) wrapper="div"}}</div>
                <div class="col-2"><label class="form-text">Set Bonus 2</label>{{> renderItemField item=item field="previewArtifactSet" params=(array 1) wrapper="div"}}</div>
                <div class="col-2"><label class="form-text">Sands Stat</label>{{> renderItemField item=item field="previewArtifactStat" params=(array "sands") wrapper="div"}}</div>
                <div class="col-2"><label class="form-text">Goblet Stat</label>{{> renderItemField item=item field="previewArtifactStat" params=(array "goblet") wrapper="div"}}</div>
                <div class="col-2"><label class="form-text">Circlet Stat</label>{{> renderItemField item=item field="previewArtifactStat" params=(array "circlet") wrapper="div"}}</div>
              </div>
              <div class="mt-3 ms-3">
                <b class="form-label">Reset Previews For:</b>
                <button class="preview-reset btn btn-sm btn-outline-dark ms-2"><i class="fa-solid fa-rotate-left"></i> {{getProperty item 'name'}}</button>
                <button class="preview-reset-team btn btn-sm btn-outline-dark ms-2"><i class="fa-solid fa-rotate-left"></i> Team</button>
                <button class="preview-reset-all btn btn-sm btn-outline-dark ms-2"><i class="fa-solid fa-rotate-left"></i> All Characters</button>
              </div>
          </div>
        </div>
    </div>
</div>