<div class="modal-content list-item" data-template="genshin/renderWeaponAsPopup" data-uuid="{{uuid item}}">
    <div class="modal-body">
        <button type="button" class="btn-close float-end" data-bs-dismiss="modal"></button>
        <div class="row">
            <div class="col-auto">
                <div class="item-display item-weapon display-md display-no-caption">
                    <div class="display-img rarity-{{getProperty item 'rarity'}}">
                      {{> renderItemField item=item field="image" wrapper="div"}}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <h5 class="col-2">Level</h5>
                    <h5 class="col-2">Phase</h5>
                    <h5 class="col-2">Refinement</h5>
                    <h5 class="col-2">ATK</h5>
                    <h5 class="col-2">{{> renderItemField item=item field="stat" wrapper="div"}}</h5>
                    <h5 class="col-2">Equipped By</h5>
                </div>
                <div class="row">
                    <div class="col-2">{{> renderItemField item=item field="level" wrapper="div"}}</div>
                    <div class="col-2">{{> renderItemField item=item field="ascension" wrapper="div"}}</div>
                    <div class="col-2">{{> renderItemField item=item field="refinement" wrapper="div"}}</div>
                    <div class="col-2">{{> renderItemField item=item field="atk" wrapper="div"}}</div>
                    <div class="col-2">{{> renderItemField item=item field="statVal" wrapper="div"}}</div>
                    <div class="col-2">{{> renderItemField item=item field="location" wrapper="div"}}</div>
                </div>
              {{> renderItemField item=item field="passive" wrapper="p"}}
            </div>
        </div>
        
        <hr/>
        <h3>Ascension Materials</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Phase</th>
                        <th>Forgery Mat</th>
                        <th>Strong Mat</th>
                        <th>Weak Mat</th>
                        <th>Mora</th>
                    </tr>
                </thead>
                <tbody>
                  {{#times 6}}
                    <tr>
                      {{> renderItemField item=item field=(concat "ascension" @index) wrapper="td"}}
                      {{> renderItemField item=item field=(concat "forgeryMat" @index) wrapper="td"}}
                      {{> renderItemField item=item field=(concat "strongMat" @index) wrapper="td"}}
                      {{> renderItemField item=item field=(concat "weakMat" @index) wrapper="td"}}
                      {{> renderItemField item=item field=(concat "moraMat" @index) wrapper="td"}}
                    </tr>
                  {{/times}}
                </tbody>
            </table>
        </div>
    </div>
</div>