<div class="character-build" name="{{relatedItems.buildId}}" data-template="genshin/renderCharacterBuild" data-uuid="{{uuid item}}">
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <span class="nav-link disabled fw-bold">Build:</span>
                </li>
              {{#each relatedItems.builds}}
                <li class="nav-item">
                    <a class="nav-link {{#ifeq @index ../relatedItems.buildId}}active{{else}}select-build{{/ifeq}}" data-build-id="{{@index}}">{{name}}</a>
                </li>
              {{/each}}
            </ul>
        </div>
        <div class="col-auto">
            <div class="input-group">
                <input id="addBuildFld" class="form-control" type="text"/>
                <button id="addBuildBtn" class="btn btn-primary" title="Add new build."><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>
        <div class="col-auto">
            <button id="deleteBuildBtn" class="btn btn-danger" title="{{#ifeq relatedItems.builds.length 1}}Cannot delete the default build.{{else}}Delete this build.{{/ifeq}}"{{#ifeq relatedItems.builds.length 1}} disabled="disabled"{{/ifeq}}><i class="fa-solid fa-trash"></i></button>
        </div>
    </div>
    
    <div class="row pt-3">
        <div class="col-4">
            <div class="input-group">
                <label class="input-group-text" for="buildName">Build Name:</label>
                <input id="buildName" class="form-control" type="text" value="{{relatedItems.buildData.name}}"/>
            </div>
        </div>
        <div class="col-auto align-self-end">
            <label class="form-label" for="buildImportance" title="This value will be used in artifact desirability calculations. For example, if you set this to 0, then this build will not increase any artifact's desirability score no matter how well that artifact fits this build. You might want to do this for characters/builds that you don't actually intend on ever using.">Importance:</label>
        </div>
        <div class="col align-self-end">
            <input id="buildImportance" type="range" class="form-range" value="{{relatedItems.buildData.importance}}" min="0" max="100" step="1"/>
        </div>
    </div>
  
    <div class="popup-subsection">
      <h3 class="popup-subsection-header">Artifact Sets</h3>
      <div class="popup-subsection-content">
        <select id="bestArtifactSets" class="form-control selectpicker" data-container=".character-build" data-style="" multiple="multiple">
          {{#each relatedItems.artifactSets as |set setKey|}}
            <option value="{{setKey}}" {{#iffave ../item setKey ../relatedItems.buildId}}selected{{/iffave}}>{{set.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    
    <div class="popup-subsection">
      <h3 class="collapsed popup-subsection-header" data-bs-toggle="collapse" href="#artifactStatPriorities">Artifact Stat Priorities</h3>
      <div id="artifactStatPriorities" class="collapse popup-subsection-content">
        <div class="row">
            <div class="col-6">
                <h4>Substats</h4>
              {{> genshin/renderCharacterBuildSlider . type="artifactSubstats" statId="hp" value=relatedItems.buildData.artifactSubstats.hp}}
              {{> genshin/renderCharacterBuildSlider . type="artifactSubstats" statId="atk" value=relatedItems.buildData.artifactSubstats.atk}}
              {{> genshin/renderCharacterBuildSlider . type="artifactSubstats" statId="def" value=relatedItems.buildData.artifactSubstats.def}}
              {{> genshin/renderCharacterBuildSlider . type="artifactSubstats" statId="hp_" value=relatedItems.buildData.artifactSubstats.hp_}}
              {{> genshin/renderCharacterBuildSlider . type="artifactSubstats" statId="atk_" value=relatedItems.buildData.artifactSubstats.atk_}}
              {{> genshin/renderCharacterBuildSlider . type="artifactSubstats" statId="def_" value=relatedItems.buildData.artifactSubstats.def_}}
              {{> genshin/renderCharacterBuildSlider . type="artifactSubstats" statId="eleMas" value=relatedItems.buildData.artifactSubstats.eleMas}}
              {{> genshin/renderCharacterBuildSlider . type="artifactSubstats" statId="enerRech_" value=relatedItems.buildData.artifactSubstats.enerRech_}}
              {{> genshin/renderCharacterBuildSlider . type="artifactSubstats" statId="critRate_" value=relatedItems.buildData.artifactSubstats.critRate_}}
              {{> genshin/renderCharacterBuildSlider . type="artifactSubstats" statId="critDMG_" value=relatedItems.buildData.artifactSubstats.critDMG_}}
                <h4>Sands Stats</h4>
              {{> genshin/renderCharacterBuildSlider . type="sandsStat" statId="hp_" value=relatedItems.buildData.sandsStat.hp_}}
              {{> genshin/renderCharacterBuildSlider . type="sandsStat" statId="atk_" value=relatedItems.buildData.sandsStat.atk_}}
              {{> genshin/renderCharacterBuildSlider . type="sandsStat" statId="def_" value=relatedItems.buildData.sandsStat.def_}}
              {{> genshin/renderCharacterBuildSlider . type="sandsStat" statId="eleMas" value=relatedItems.buildData.sandsStat.eleMas}}
              {{> genshin/renderCharacterBuildSlider . type="sandsStat" statId="enerRech_" value=relatedItems.buildData.sandsStat.enerRech_}}
            </div>
            <div class="col-6">
                <h4>Goblet Stats</h4>
              {{> genshin/renderCharacterBuildSlider . type="gobletStat" statId="hp_" value=relatedItems.buildData.gobletStat.hp_}}
              {{> genshin/renderCharacterBuildSlider . type="gobletStat" statId="atk_" value=relatedItems.buildData.gobletStat.atk_}}
              {{> genshin/renderCharacterBuildSlider . type="gobletStat" statId="def_" value=relatedItems.buildData.gobletStat.def_}}
              {{> genshin/renderCharacterBuildSlider . type="gobletStat" statId="eleMas" value=relatedItems.buildData.gobletStat.eleMas}}
              {{> genshin/renderCharacterBuildSlider . type="gobletStat" statId=(concat (lower (getProperty item "element")) "_dmg_") value=(lookup relatedItems.buildData.gobletStat (concat (lower (getProperty item "element")) "_dmg_"))}}
              {{> genshin/renderCharacterBuildSlider . type="gobletStat" statId="physical_dmg_" value=relatedItems.buildData.gobletStat.physical_dmg_}}
                <h4>Circlet Stats</h4>
              {{> genshin/renderCharacterBuildSlider . type="circletStat" statId="hp_" value=relatedItems.buildData.circletStat.hp_}}
              {{> genshin/renderCharacterBuildSlider . type="circletStat" statId="atk_" value=relatedItems.buildData.circletStat.atk_}}
              {{> genshin/renderCharacterBuildSlider . type="circletStat" statId="def_" value=relatedItems.buildData.circletStat.def_}}
              {{> genshin/renderCharacterBuildSlider . type="circletStat" statId="eleMas" value=relatedItems.buildData.circletStat.eleMas}}
              {{> genshin/renderCharacterBuildSlider . type="circletStat" statId="critRate_" value=relatedItems.buildData.circletStat.critRate_}}
              {{> genshin/renderCharacterBuildSlider . type="circletStat" statId="critDMG_" value=relatedItems.buildData.circletStat.critDMG_}}
              {{> genshin/renderCharacterBuildSlider . type="circletStat" statId="heal_" value=relatedItems.buildData.circletStat.heal_}}
            </div>
        </div>
        <div class="row mt-2 g-2">
            <h4 class="col-4">Options</h4>
            <div class="col-4" title="When enabled: The stat targets in this 'Options' section will factor in various effects that can modify your stats, which you must configure in the above 'Current Stats' section.">
                <div class="input-group">
                    <div class="input-group-text bg-body">
                      <input id="modifiers" class="form-check-input target-options" type="checkbox" value="modifiers" {{#if relatedItems.buildData.useTargets.modifiers}}checked="checked"{{/if}}/>
                    </div>
                    <label class="input-group-text" for="modifiers">Respect Modifiers</label>
                </div>
            </div>
            <div class="col-4"><!-- placeholder -->
            </div>
            <div class="col-4" title="When enabled: If a piece won't get you to your minimum ER%, its rank will be penalized based on how low your ER% is with it. If a piece would put you over your maximum ER%, all excess ER% that it provides past your maximum will be ignored.">
                <div class="input-group">
                    <div class="input-group-text bg-body">
                      <input class="form-check-input target-options" type="checkbox" value="enerRech_" {{#if relatedItems.buildData.useTargets.enerRech_}}checked="checked"{{/if}}/>
                    </div>
                    <label class="input-group-text pe-2" for="characterMinER">ER% Target:</label>
                    <input id="characterMinER" class="stat-target form-control pe-1" type="number" min="100" max="999" value="{{relatedItems.buildData.minER}}"/>
                    <label class="input-group-text px-1" for="characterMaxER">to</label>
                    <input id="characterMaxER" class="stat-target form-control ps-1" type="number" min="100" max="999" value="{{relatedItems.buildData.maxER}}"/>
                </div>
            </div>
            <div class="col-4" title="If enabled: Your desired ratio for Crit Rate to Crit DMG. Pieces will have either their Crit Rate or Crit DMG score penalized based on how far off your Crit ratio will be from your target.">
                <div class="input-group">
                    <div class="input-group-text bg-body">
                      <input class="form-check-input target-options" type="checkbox" value="critRatio" {{#if relatedItems.buildData.useTargets.critRatio}}checked="checked"{{/if}}/>
                    </div>
                    <label class="input-group-text pe-2" for="characterRatioCritRate">Crit Ratio:</label>
                    <input id="characterRatioCritRate" class="stat-target form-control pe-1" type="number" title="Crit Rate" min="0" max="10" value="{{relatedItems.buildData.ratioCritRate}}"/>
                    <label class="input-group-text px-1" for="characterRatioCritDMG">/</label>
                    <input id="characterRatioCritDMG" class="stat-target form-control ps-1" type="number" title="Crit DMG" min="0" max="10" value="{{relatedItems.buildData.ratioCritDMG}}"/>
                </div>
            </div>
        </div>
      </div>
    </div>
    
    <div class="popup-subsection">
        <h3 class="collapsed popup-subsection-header" data-bs-toggle="collapse" href="#characterArtifactLists">Best Artifacts That You Have</h3>
        <div id="characterArtifactLists" class="collapse popup-subsection-content">
      {{> genshin/renderCharacterArtifactLists . placeholder=1}}
        </div>
    </div>
</div>