<div class="modal-content list-item" data-template="genshin/renderCharacterAsPopup" data-uuid="{{uuid item}}">
    <div class="modal-body">
        <button type="button" class="btn-close float-end" data-bs-dismiss="modal"></button>
        <div class="row">
            <div class="col-auto">
                <div class="item-display item-character display-md display-no-caption">
                    <div class="display-img rarity-{{getProperty item 'rarity'}}">
                        <img class="" src="{{getProperty item 'image'}}" loading="lazy"/>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <h5 class="col-2">Level</h5>
                    <h5 class="col-2">Phase</h5>
                    <h5 class="col-2">Cons</h5>
                    <h5 class="col-2">Stat</h5>
                    <h5 class="col-2">Weapon</h5>
                </div>
                <div class="row">
                    <div class="col-2">{{> renderItemField item=item field="level" wrapper="div"}}</div>
                    <div class="col-2">{{> renderItemField item=item field="ascension" wrapper="div"}}</div>
                    <div class="col-2">{{> renderItemField item=item field="constellation" wrapper="div"}}</div>
                    <div class="col-2">{{> renderItemField item=item field="ascendStat" wrapper="div"}}</div>
                    <div class="col-2">{{> renderItemField item=item field="equipWeapon" wrapper="div"}}</div>
                </div>
            </div>
        </div>
        
      {{#if item.base}}
        <div class="row">
            <div class="col-auto">Variants:</div>
          {{#each item.base.variants}}
            <div class="col-auto list-item" data-uuid="{{uuid .}}">{{> renderItemField item=. field="name" wrapper="span"}}</div>
          {{/each}}
        </div>
      {{/if}}
        
        <div class="popup-section">
          <h3 class="popup-section-header collapsed" data-bs-toggle="collapse" href="#ascensionMaterials">Ascension Materials</h3>
          <div id="ascensionMaterials" class="table-responsive collapse popup-section-content">
              <table class="table">
                  <thead>
                      <tr>
                          <th>Phase</th>
                          <th>Gems</th>
                          <th>World Boss Drops</th>
                          <th>Flora</th>
                          <th>Enemy Drops</th>
                          <th>Mora</th>
                      </tr>
                  </thead>
                  <tbody>
                    {{#times 6}}
                      <tr>
                        {{> renderItemField item=item field="ascensionMaterial" params=(array "label" @index) wrapper="td"}}
                        {{> renderItemField item=item field="ascensionMaterial" params=(array "gem" @index) wrapper="td"}}
                        {{> renderItemField item=item field="ascensionMaterial" params=(array "boss" @index) wrapper="td"}}
                        {{> renderItemField item=item field="ascensionMaterial" params=(array "flower" @index) wrapper="td"}}
                        {{> renderItemField item=item field="ascensionMaterial" params=(array "enemy" @index) wrapper="td"}}
                        {{> renderItemField item=item field="ascensionMaterial" params=(array "mora" @index) wrapper="td"}}
                      </tr>
                    {{/times}}
                  </tbody>
              </table>
          </div>
        </div>
        
        <div class="popup-section">
          <h3 class="popup-section-header collapsed" data-bs-toggle="collapse" href="#talentMaterials">Talent Materials</h3>
          <div id="talentMaterials" class="table-responsive collapse popup-section-content">
              <table class="table">
                  <thead>
                      <tr>
                          <th>Level</th>
                          <th class="talent-mastery">Mastery</th>
                          <th class="talent-enemy">Enemy</th>
                          <th class="talent-trounce">Trounce</th>
                          <th class="talent-crown">Crown</th>
                          <th class="talent-crown">Mora</th>
                      </tr>
                  </thead>
                  <tbody>
                    {{#times 9 start=1}}
                      <tr>
                        {{> renderItemField item=item field=(concat "talentLvl" @index) wrapper="td"}}
                        {{> renderItemField item=item field=(concat "talentMasteryMat" @index) wrapper="td"}}
                        {{> renderItemField item=item field=(concat "talentEnemyMat" @index) wrapper="td"}}
                        {{> renderItemField item=item field=(concat "talentTrounceMat" @index) wrapper="td"}}
                        {{> renderItemField item=item field=(concat "talentCrownMat" @index) wrapper="td"}}
                        {{> renderItemField item=item field=(concat "talentMoraMat" @index) wrapper="td"}}
                      </tr>
                    {{/times}}
                  </tbody>
              </table>
          </div>
        </div>
        
        <!--<div class="popup-section">-->
          {{> genshin/renderCharacterStats .}}
        <!--</div>-->
        <hr/>
      {{> genshin/renderCharacterBuild .}}
    </div>
</div>