<div id="characterStats.MainStats" class="collapse show stat-list popup-subsection-content" data-template="genshin/renderCharacterMainStats" data-uuid="{{uuid item}}">
    <div class="row gx-1 small text-decoration-underline">
        <div class="col-3" title="">Statistic</div>
        <div class="col-2" title="">Current Values</div>
        <div class="col-2" title="Sum of current values, if applicable.">Calculated</div>
        <div class="col-2" title="If you've previewed any artifacts or changed any fields in the 'Preview Changes' section below, these values reflect that.">Previewed Values</div>
        <div class="col-2" title="Sum of previewed values, if applicable.">Calculated</div>
        <div class="col-1" title="Percentage change in this stat if you switch from current to previewed gear/stats.">Delta</div>
    </div>
  {{#each (array "HP" "ATK" "DEF")}}
    <div class="row gx-1">
      <div class="col-3">{{.}}</div>
      <div class="col-2">
        {{> renderItemField item=../item field="stat" params=(array (concat (lower .) "-base")) wrapper="span"}}+{{> renderItemField item=../item field="stat" params=(array (concat (lower .) "-bonus")) wrapper="span"}}
      </div>
      <div class="col-2">
        {{> renderItemField item=../item field="stat" params=(array (lower .)) wrapper="span"}}
      </div>
      <div class="col-2">
        {{> renderItemField item=../item field="stat" params=(array (concat (lower .) "-base") 1) wrapper="span"}}+{{> renderItemField item=../item field="stat" params=(array (concat (lower .) "-bonus") 1) wrapper="span"}}
      </div>
      <div class="col-2">
        {{> renderItemField item=../item field="stat" params=(array (lower .) 1) wrapper="span"}}
      </div>
      <div class="col-1">{{> renderItemField item=../item field="stat" params=(array (lower .) 2) wrapper="span"}}</div>
    </div>
  {{/each}}
  {{#each (array "critRate_" "critDMG_" "eleMas" "enerRech_" "dmg_" "normal_dmg_" "charged_dmg_" "plunging_dmg_" "skill_dmg_" "burst_dmg_" "anemo_dmg_" "cryo_dmg_" "dendro_dmg_" "electro_dmg_" "geo_dmg_" "hydro_dmg_" "pyro_dmg_" "elemental_dmg_" "physical_dmg_" "enemy_anemo_res_" "enemy_cryo_res_" "enemy_dendro_res_" "enemy_electro_res_" "enemy_geo_res_" "enemy_hydro_res_" "enemy_pyro_res_" "enemy_def_" "swirl_dmg_" "superconduct_dmg_" "melt_dmg_" "spread_dmg_" "aggravate_dmg_" "bloom_dmg_" "hyperbloom_dmg_" "burgeon_dmg_" "burning_dmg_" "electrocharged_dmg_" "overloaded_dmg_" "vaporize_dmg_" "heal_" "inHeal_" "shield_" "anemo_res_" "cryo_res_" "dendro_res_" "electro_res_" "geo_res_" "hydro_res_" "pyro_res_")}}
      {{#ifHasStat ../item .}}
    <div class="row gx-1">
      <div class="col-3">{{statText .}}</div>
      <div class="col-4">{{> renderItemField item=../item field="stat" params=(array .) wrapper="span"}}{{statText . percent=1}}</div>
      <div class="col-4">{{> renderItemField item=../item field="stat" params=(array . 1) wrapper="span"}}{{statText . percent=1}}</div>
      {{#if (statText . percent=1)}}{{else}}
      <div class="col-1">{{> renderItemField item=../item field="stat" params=(array . 2) wrapper="span"}}</div>
      {{/if}}
    </div>
      {{/ifHasStat}}
      {{#each (array "Normal Attack" "Charged Attack" "Plunging Attack" "Elemental Skill" "Elemental Burst")}}
          {{#ifHasStat ../../item ../. situation=.}}
    <div class="row gx-1">
      <div class="col-3">&#8627; {{.}}s</div>
      <div class="col-4">{{> renderItemField item=../../item field="stat" params=(array ../. 0 .) wrapper="span"}}{{statText ../. percent=1}}</div>
      <div class="col-4">{{> renderItemField item=../../item field="stat" params=(array ../. 1 .) wrapper="span"}}{{statText ../. percent=1}}</div>
      {{#if (statText ../. percent=1)}}{{else}}
      <div class="col-1">{{> renderItemField item=../../item field="stat" params=(array ../. 2) wrapper="span"}}</div>
      {{/if}}
    </div>
          {{/ifHasStat}}
      {{/each}}
  {{/each}}
</div>
