<div class="modal-content list-item" data-template="wuwa/renderCharacterAsPopup" data-uuid="{{uuid item}}">
    <div class="modal-body">
        <button type="button" class="btn-close float-end" data-bs-dismiss="modal"></button>
        <div class="row">
            <div class="col">
                <div class="row">
                    <h5 class="col-1">Seq</h5>
                    <h5 class="col-1">Level</h5>
                    <h5 class="col-1">Asc</h5>
                    <h5 class="col-2">Forte Levels</h5>
                    <h5 class="col-2">Forte Bonuses</h5>
                    <h5 class="col-3">Weapon</h5>
                </div>
                <div class="row">
                    <div class="col-1">{{> renderItemField item=item field="sequence" wrapper="div"}}</div>
                    <div class="col-1">{{> renderItemField item=item field="level" wrapper="div"}}</div>
                    <div class="col-1">{{> renderItemField item=item field="ascension" wrapper="div"}}</div>
                    <div class="col-2 d-flex">
                      {{> renderItemField item=item field="talent" params=(array "Basic Attack") wrapper="span"}} /
                      {{> renderItemField item=item field="talent" params=(array "Resonance Skill") wrapper="span"}} /
                      {{> renderItemField item=item field="talent" params=(array "Forte Circuit") wrapper="span"}} /
                      {{> renderItemField item=item field="talent" params=(array "Resonance Liberation") wrapper="span"}} /
                      {{> renderItemField item=item field="talent" params=(array "Intro Skill") wrapper="span"}}
                    </div>
                    <div class="col-2 d-flex">
                      {{> renderItemField item=item field="talent" params=(array "Basic Attack Bonus") wrapper="span"}} /
                      {{> renderItemField item=item field="talent" params=(array "Resonance Skill Bonus") wrapper="span"}} /
                      {{> renderItemField item=item field="talent" params=(array "Forte Circuit Passive") wrapper="span"}} /
                      {{> renderItemField item=item field="talent" params=(array "Resonance Liberation Bonus") wrapper="span"}} /
                      {{> renderItemField item=item field="talent" params=(array "Intro Skill Bonus") wrapper="span"}}
                    </div>
                    <div class="col-3">{{> renderItemField item=item field="equipWeapon" wrapper="div"}}</div>
                </div>
            </div>
        </div>
        
        <div class="popup-section">
          <h3 class="popup-section-header collapsed" data-bs-toggle="collapse" href="#ascensionMaterials">Ascension Materials</h3>
          <div id="ascensionMaterials" class="table-responsive collapse popup-section-content">
              <table class="table">
                  <thead>
                      <tr>
                          <th>Rank</th>
                          <th>Boss</th>
                          <th>Flora</th>
                          <th>Enemy</th>
                          <th>Credits</th>
                      </tr>
                  </thead>
                  <tbody>
                    {{#times 6}}
                      <tr>
                        <td>{{> renderItemField item=item field="ascensionMaterial" params=(array "label" @index) wrapper="div"}}</td>
                        <td>{{> renderItemField item=item field="ascensionMaterial" params=(array "boss" @index) wrapper="div"}}</td>
                        <td>{{> renderItemField item=item field="ascensionMaterial" params=(array "flora" @index) wrapper="div"}}</td>
                        <td>{{> renderItemField item=item field="ascensionMaterial" params=(array "enemy" @index) wrapper="div"}}</td>
                        <td>{{> renderItemField item=item field="ascensionMaterial" params=(array "credit" @index) wrapper="div"}}</td>
                      </tr>
                    {{/times}}
                  </tbody>
              </table>
          </div>
        </div>
        
        <div class="popup-section">
          <h3 class="popup-section-header collapsed" data-bs-toggle="collapse" href="#forteMaterials">Forte Materials</h3>
          <div id="forteMaterials" class="table-responsive collapse popup-section-content">
              <table class="table">
                  <thead>
                      <tr>
                          <th>Rank</th>
                          <th>Forgery</th>
                          <th>Enemy</th>
                          <th>Weekly</th>
                          <th>Credits</th>
                      </tr>
                  </thead>
                  <tbody>
                    {{#times 9 start=1}}
                      <tr>
                        <td>{{> renderItemField item=item field="talentMaterial" params=(array "label" @index) wrapper="div"}}</td>
                        <td>{{> renderItemField item=item field="talentMaterial" params=(array "forgery" @index) wrapper="div"}}</td>
                        <td>{{> renderItemField item=item field="talentMaterial" params=(array "enemy" @index) wrapper="div"}}</td>
                        <td>{{> renderItemField item=item field="talentMaterial" params=(array "weekly" @index) wrapper="div"}}</td>
                        <td>{{> renderItemField item=item field="talentMaterial" params=(array "credit" @index) wrapper="div"}}</td>
                      </tr>
                    {{/times}}
                  </tbody>
              </table>
              <table class="table">
                  <thead>
                      <tr>
                          <th>Stat Bonus</th>
                          <th>Forgery</th>
                          <th>Enemy</th>
                          <th>Weekly</th>
                          <th>Credits</th>
                      </tr>
                  </thead>
                  <tbody>
                    {{#times 2}}
                      <tr>
                        <td>{{> renderItemField item=item field="talentMaterial" params=(array "label" (concat "bonus" @index)) wrapper="div"}}</td>
                        <td>{{> renderItemField item=item field="talentMaterial" params=(array "forgery" (concat "bonus" @index)) wrapper="div"}}</td>
                        <td>{{> renderItemField item=item field="talentMaterial" params=(array "enemy" (concat "bonus" @index)) wrapper="div"}}</td>
                        <td>{{> renderItemField item=item field="talentMaterial" params=(array "weekly" (concat "bonus" @index)) wrapper="div"}}</td>
                        <td>{{> renderItemField item=item field="talentMaterial" params=(array "credit" (concat "bonus" @index)) wrapper="div"}}</td>
                      </tr>
                    {{/times}}
                  </tbody>
              </table>
              <table class="table">
                  <thead>
                      <tr>
                          <th>Passive</th>
                          <th>Forgery</th>
                          <th>Enemy</th>
                          <th>Weekly</th>
                          <th>Credits</th>
                      </tr>
                  </thead>
                  <tbody>
                    {{#times 2}}
                      <tr>
                        <td>{{> renderItemField item=item field="talentMaterial" params=(array "label" (concat "circuit" @index)) wrapper="div"}}</td>
                        <td>{{> renderItemField item=item field="talentMaterial" params=(array "forgery" (concat "circuit" @index)) wrapper="div"}}</td>
                        <td>{{> renderItemField item=item field="talentMaterial" params=(array "enemy" (concat "circuit" @index)) wrapper="div"}}</td>
                        <td>{{> renderItemField item=item field="talentMaterial" params=(array "weekly" (concat "circuit" @index)) wrapper="div"}}</td>
                        <td>{{> renderItemField item=item field="talentMaterial" params=(array "credit" (concat "circuit" @index)) wrapper="div"}}</td>
                      </tr>
                    {{/times}}
                  </tbody>
              </table>
          </div>
        </div>
    </div>
</div>