<div class="list-item {{#ifeq character.key item.location}}equipped{{/ifeq}} {{#iffave character item.setKey buildId}}favorite{{/iffave}}" name="{{unique item}}" data-template="renderArtifactAsCard" data-uuid="{{uuid item}}">
    <img class="rarity" src="img/Background_Item_{{getProperty item 'rarity'}}_Star.webp"/>
    <div class="artifact-header">
        <div class="level">{{> renderItemField item=item field=fields.level wrapper="span"}}</div>
        <div class="stat-key">{{> renderItemField item=item field=fields.mainStat wrapper="span"}}</div>
        <div class="stat-value">{{> renderItemField item=item field=fields.characterScore wrapper="span" params=(array character)}}</div>
    </div>
    <div class="artifact-content">
        <div class="images">
            <img class="artifact-icon" src="{{getProperty item 'image'}}" loading="lazy"/>
            <!--<button class="btn btn-outline-secondary preview-artifact" title="Preview this artifact (see stats above)."><i class="fa-regular fa-eye"></i></button>-->
          {{#if (isPreviewing character item)}}
            <button class="btn btn-sm btn-secondary preview-artifact" title="Stop previewing this artifact."><i class="fa-solid fa-eye"></i></button>
          {{else}}
            <button class="btn btn-sm btn-outline-secondary preview-artifact" title="Preview this artifact."><i class="fa-solid fa-eye"></i></button>
          {{/if}}
          {{#if item.location}}
            <div class="artifact-user equip-artifact" title="Trade artifacts with {{getProperty character 'name'}}">{{> renderItemField item=item field=fields.characterIcon params=(array character.key) wrapper="div"}}</div>
          {{else}}
            <button class="btn btn-outline-secondary equip-artifact" title="Equip this artifact."><i class="fa-solid fa-person-rays"></i></button>
          {{/if}}
        </div>
        <div class="substats">
          {{#times 4}}
              {{> renderItemField item=item field=fields.substat params=(array @index) wrapper="div"}}
          {{/times}}
        </div>
    </div>
</div>