<div class="character-build" name="{{relatedItems.buildName}}" data-template="renderCharacterBuild" data-uuid="{{uuid item}}">
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <span class="nav-link disabled text-dark fw-bold">Build:</span>
                </li>
              {{#each relatedItems.builds}}
                <li class="nav-item">
                    <a class="nav-link {{#ifeq . ../relatedItems.buildName}}active{{else}}select-build{{/ifeq}}">{{.}}</a>
                </li>
              {{/each}}
            </ul>
        </div>
        <div class="col-auto">
            <div class="input-group">
                <input id="addBuildFld" class="form-control" type="text"/>
                <button id="addBuildBtn" class="btn btn-primary" title="Add new build."><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>
        <div class="col-auto">
            <button id="deleteBuildBtn" class="btn btn-danger" title="{{#ifeq relatedItems.buildName "default"}}Cannot delete the default build.{{else}}Delete this build.{{/ifeq}}"{{#ifeq relatedItems.buildName "default"}} disabled="disabled"{{/ifeq}}><i class="fa-solid fa-trash"></i></button>
        </div>
    </div>
    
    <!--<div class="row pt-3">
        <div class="col-auto">
            <label class="input-group-text" for="buildName">Build Name:</label>
        </div>
        <div class="col">
            <input id="buildName" class="form-control" type="text" value="{{relatedItems.buildName}}"/>
        </div>
        <div class="col-auto">
            <label class="input-group-text" for="buildImportance" title="This value will be used in artifact desirability calculations. For example, if you set this to 0, then this build will not increase any artifact's desirability score no matter how well that artifact fits this build. You might want to do this for characters/builds that you don't actually intend on ever using.">Importance:</label>
        </div>
        <div class="col">
            <input id="buildImportance" type="range" class="form-range" value="100" min="0" max="100" step="1"/>
        </div>
    </div>
  
    <hr/>-->
    <h3>Artifact Sets</h3>
    <select id="bestArtifactSets" class="form-control selectpicker" multiple="multiple">
      {{#each relatedItems.artifactSets as |set setKey|}}
        <option value="{{setKey}}" {{#iffave ../item setKey ../relatedItems.buildName}}selected{{/iffave}}>{{set.name}}</option>
      {{/each}}
    </select>
    
    <hr/>
    <h3 class="collapsed" data-bs-toggle="collapse" href="#artifactStatPriorities">Artifact Stat Priorities</h3>
    <div id="artifactStatPriorities" class="collapse row">
        <div class="col-6">
            <h4>Substats</h4>
          {{> renderCharacterBuildSlider . type="artifactSubstats" statId="hp" value=relatedItems.buildData.artifactSubstats.hp}}
          {{> renderCharacterBuildSlider . type="artifactSubstats" statId="atk" value=relatedItems.buildData.artifactSubstats.atk}}
          {{> renderCharacterBuildSlider . type="artifactSubstats" statId="def" value=relatedItems.buildData.artifactSubstats.def}}
          {{> renderCharacterBuildSlider . type="artifactSubstats" statId="hp_" value=relatedItems.buildData.artifactSubstats.hp_}}
          {{> renderCharacterBuildSlider . type="artifactSubstats" statId="atk_" value=relatedItems.buildData.artifactSubstats.atk_}}
          {{> renderCharacterBuildSlider . type="artifactSubstats" statId="def_" value=relatedItems.buildData.artifactSubstats.def_}}
          {{> renderCharacterBuildSlider . type="artifactSubstats" statId="eleMas" value=relatedItems.buildData.artifactSubstats.eleMas}}
          {{> renderCharacterBuildSlider . type="artifactSubstats" statId="enerRech_" value=relatedItems.buildData.artifactSubstats.enerRech_}}
          {{> renderCharacterBuildSlider . type="artifactSubstats" statId="critRate_" value=relatedItems.buildData.artifactSubstats.critRate_}}
          {{> renderCharacterBuildSlider . type="artifactSubstats" statId="critDMG_" value=relatedItems.buildData.artifactSubstats.critDMG_}}
            <h4>Sands Stats</h4>
          {{> renderCharacterBuildSlider . type="sandsStat" statId="hp_" value=relatedItems.buildData.sandsStat.hp_}}
          {{> renderCharacterBuildSlider . type="sandsStat" statId="atk_" value=relatedItems.buildData.sandsStat.atk_}}
          {{> renderCharacterBuildSlider . type="sandsStat" statId="def_" value=relatedItems.buildData.sandsStat.def_}}
          {{> renderCharacterBuildSlider . type="sandsStat" statId="eleMas" value=relatedItems.buildData.sandsStat.eleMas}}
          {{> renderCharacterBuildSlider . type="sandsStat" statId="enerRech_" value=relatedItems.buildData.sandsStat.enerRech_}}
        </div>
        <div class="col-6">
            <h4>Goblet Stats</h4>
          {{> renderCharacterBuildSlider . type="gobletStat" statId="hp_" value=relatedItems.buildData.gobletStat.hp_}}
          {{> renderCharacterBuildSlider . type="gobletStat" statId="atk_" value=relatedItems.buildData.gobletStat.atk_}}
          {{> renderCharacterBuildSlider . type="gobletStat" statId="def_" value=relatedItems.buildData.gobletStat.def_}}
          {{> renderCharacterBuildSlider . type="gobletStat" statId="eleMas" value=relatedItems.buildData.gobletStat.eleMas}}
          {{> renderCharacterBuildSlider . type="gobletStat" statId=(concat (lower (getProperty item "element")) "_dmg_") value=(lookup relatedItems.buildData.gobletStat (concat (lower (getProperty item "element")) "_dmg_"))}}
          {{> renderCharacterBuildSlider . type="gobletStat" statId="physical_dmg_" value=relatedItems.buildData.gobletStat.physical_dmg_}}
            <h4>Circlet Stats</h4>
          {{> renderCharacterBuildSlider . type="circletStat" statId="hp_" value=relatedItems.buildData.circletStat.hp_}}
          {{> renderCharacterBuildSlider . type="circletStat" statId="atk_" value=relatedItems.buildData.circletStat.atk_}}
          {{> renderCharacterBuildSlider . type="circletStat" statId="def_" value=relatedItems.buildData.circletStat.def_}}
          {{> renderCharacterBuildSlider . type="circletStat" statId="eleMas" value=relatedItems.buildData.circletStat.eleMas}}
          {{> renderCharacterBuildSlider . type="circletStat" statId="critRate_" value=relatedItems.buildData.circletStat.critRate_}}
          {{> renderCharacterBuildSlider . type="circletStat" statId="critDMG_" value=relatedItems.buildData.circletStat.critDMG_}}
          {{> renderCharacterBuildSlider . type="circletStat" statId="heal_" value=relatedItems.buildData.circletStat.heal_}}
            <div class="row mt-2 gx-1">
                <div class="col-1 align-self-center">
                  <input class="form-check form-check-input" type="checkbox" id="useTargets" value="targets" title="Toggle whether to respect the following stat targets when sorting the artifact lists below. Note that this setting is ignored on the main artifacts listing page." {{#if relatedItems.buildData.useTargets.critRatio}}checked="checked"{{/if}}/>
                </div>
                <div class="col-6" title="If a piece won't get you to your minimum ER%, its rank will be penalized based on how low your ER% is with it. If a piece would put you over your maximum ER%, all excess ER% that it provides past your maximum will be ignored.">
                    <div class="input-group">
                        <label class="input-group-text pe-2" for="characterMinER">ER% Target:</label>
                        <input id="characterMinER" class="stat-target form-control pe-1" type="number" min="100" max="999" value="{{relatedItems.buildData.minER}}"/>
                        <label class="input-group-text px-1" for="characterMaxER">to</label>
                        <input id="characterMaxER" class="stat-target form-control ps-1" type="number" min="100" max="999" value="{{relatedItems.buildData.maxER}}"/>
                    </div>
                </div>
                <div class="col-5">
                    <div class="input-group">
                        <label class="input-group-text pe-2" for="characterRatioCritRate" title="Your desired ratio for Crit Rate to Crit DMG. If enabled, pieces will have either their Crit Rate or Crit DMG score penalized based on how far off your Crit ratio will be from your target.">Crit Ratio:</label>
                        <input id="characterRatioCritRate" class="stat-target form-control pe-1" type="number" title="Crit Rate" min="0" max="10" value="{{relatedItems.buildData.ratioCritRate}}"/>
                        <label class="input-group-text px-1" for="characterRatioCritDMG">/</label>
                        <input id="characterRatioCritDMG" class="stat-target form-control ps-1" type="number" title="Crit DMG" min="0" max="10" value="{{relatedItems.buildData.ratioCritDMG}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <hr/>
    <h3>Best Artifacts That You Have</h3>
  {{> renderCharacterArtifactLists . placeholder=1}}
</div>