<div class="list-item" name="{{unique item}}" data-template="renderCharacterAsPopup" data-list="characters">
    <div class="row">
        <h5 class="col-2">Level</h5>
        <h5 class="col-2">Constellations</h5>
    </div>
    <div class="row">
        <div class="col-2">{{> renderItemField item=item field=fields.level wrapper="div"}}</div>
        <div class="col-2">{{> renderItemField item=item field=fields.constellation wrapper="div"}}</div>
    </div>
    
    <hr/>
    <h3>Ascension Materials</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Phase</th>
                    <th>Gems</th>
                    <th>World Boss Drops</th>
                    <th>Flora</th>
                    <th>Enemy Drops</th>
                </tr>
            </thead>
            <tbody>
              {{#times 6}}
                <tr>
                  {{> renderItemField item=item field=(lookup fields (concat "ascension" @index)) wrapper="td"}}
                  {{> renderItemField item=item field=(lookup fields (concat "gemAscMat" @index)) wrapper="td"}}
                  {{> renderItemField item=item field=(lookup fields (concat "bossAscMat" @index)) wrapper="td"}}
                  {{> renderItemField item=item field=(lookup fields (concat "flowerAscMat" @index)) wrapper="td"}}
                  {{> renderItemField item=item field=(lookup fields (concat "enemyAscMat" @index)) wrapper="td"}}
                </tr>
              {{/times}}
            </tbody>
        </table>
    </div>
    
    <hr/>
    <h3>Talent Materials</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Level</th>
                    <th class="talent-mastery">Mastery</th>
                    <th class="talent-enemy">Enemy</th>
                    <th class="talent-trounce">Trounce</th>
                    <th class="talent-crown">Crown</th>
                </tr>
            </thead>
            <tbody>
              {{#times 9 start=1}}
                <tr>
                  {{> renderItemField item=item field=(lookup fields (concat "talentLvl" @index)) wrapper="td"}}
                  {{> renderItemField item=item field=(lookup fields (concat "talentMasteryMat" @index)) wrapper="td"}}
                  {{> renderItemField item=item field=(lookup fields (concat "talentEnemyMat" @index)) wrapper="td"}}
                  {{> renderItemField item=item field=(lookup fields (concat "talentTrounceMat" @index)) wrapper="td"}}
                  {{> renderItemField item=item field=(lookup fields (concat "talentCrownMat" @index)) wrapper="td"}}
                </tr>
              {{/times}}
            </tbody>
        </table>
    </div>
    
    <hr/>
  {{#each relatedItems.buildData as |build buildName|}}
    <div>
        <h3>Artifact Stat Priorities [{{buildName}}]</h3>
        <div class="row">
            <div class="col-6">
                <h4>Substats</h4>
              {{> renderArtifactStatSlider build=buildName type="artifactSubstats" item=../item statId="hp" value=build.artifactSubstats.hp}}
              {{> renderArtifactStatSlider build=buildName type="artifactSubstats" item=../item statId="atk" value=build.artifactSubstats.atk}}
              {{> renderArtifactStatSlider build=buildName type="artifactSubstats" item=../item statId="def" value=build.artifactSubstats.def}}
              {{> renderArtifactStatSlider build=buildName type="artifactSubstats" item=../item statId="hp_" value=build.artifactSubstats.hp_}}
              {{> renderArtifactStatSlider build=buildName type="artifactSubstats" item=../item statId="atk_" value=build.artifactSubstats.atk_}}
              {{> renderArtifactStatSlider build=buildName type="artifactSubstats" item=../item statId="def_" value=build.artifactSubstats.def_}}
              {{> renderArtifactStatSlider build=buildName type="artifactSubstats" item=../item statId="eleMas" value=build.artifactSubstats.eleMas}}
              {{> renderArtifactStatSlider build=buildName type="artifactSubstats" item=../item statId="enerRech_" value=build.artifactSubstats.enerRech_}}
              {{> renderArtifactStatSlider build=buildName type="artifactSubstats" item=../item statId="critRate_" value=build.artifactSubstats.critRate_}}
              {{> renderArtifactStatSlider build=buildName type="artifactSubstats" item=../item statId="critDMG_" value=build.artifactSubstats.critDMG_}}
                <h4>Sands Stats</h4>
              {{> renderArtifactStatSlider build=buildName type="sandsStat" item=../item statId="hp_" value=build.sandsStat.hp_}}
              {{> renderArtifactStatSlider build=buildName type="sandsStat" item=../item statId="atk_" value=build.sandsStat.atk_}}
              {{> renderArtifactStatSlider build=buildName type="sandsStat" item=../item statId="def_" value=build.sandsStat.def_}}
              {{> renderArtifactStatSlider build=buildName type="sandsStat" item=../item statId="eleMas" value=build.sandsStat.eleMas}}
              {{> renderArtifactStatSlider build=buildName type="sandsStat" item=../item statId="enerRech_" value=build.sandsStat.enerRech_}}
            </div>
            <div class="col-6">
                <h4>Goblet Stats</h4>
              {{> renderArtifactStatSlider build=buildName type="gobletStat" item=../item statId="hp_" value=build.gobletStat.hp_}}
              {{> renderArtifactStatSlider build=buildName type="gobletStat" item=../item statId="atk_" value=build.gobletStat.atk_}}
              {{> renderArtifactStatSlider build=buildName type="gobletStat" item=../item statId="def_" value=build.gobletStat.def_}}
              {{> renderArtifactStatSlider build=buildName type="gobletStat" item=../item statId="eleMas" value=build.gobletStat.eleMas}}
              {{> renderArtifactStatSlider build=buildName type="gobletStat" item=../item statId=(concat (lower ../item.element) "_dmg_") value=(lookup build.gobletStat (concat (lower ../item.element) "_dmg_"))}}
              {{> renderArtifactStatSlider build=buildName type="gobletStat" item=../item statId="physical_dmg_" value=build.gobletStat.physical_dmg_}}
                <h4>Circlet Stats</h4>
              {{> renderArtifactStatSlider build=buildName type="circletStat" item=../item statId="hp_" value=build.circletStat.hp_}}
              {{> renderArtifactStatSlider build=buildName type="circletStat" item=../item statId="atk_" value=build.circletStat.atk_}}
              {{> renderArtifactStatSlider build=buildName type="circletStat" item=../item statId="def_" value=build.circletStat.def_}}
              {{> renderArtifactStatSlider build=buildName type="circletStat" item=../item statId="eleMas" value=build.circletStat.eleMas}}
              {{> renderArtifactStatSlider build=buildName type="circletStat" item=../item statId="critRate_" value=build.circletStat.critRate_}}
              {{> renderArtifactStatSlider build=buildName type="circletStat" item=../item statId="critDMG_" value=build.circletStat.critDMG_}}
              {{> renderArtifactStatSlider build=buildName type="circletStat" item=../item statId="heal_" value=build.circletStat.heal_}}
            </div>
        </div>
        
        <hr/>
        <h3>Best Artifacts That You Have</h3>
        <div class="row">
            <h4 class="col">Flower</h4>
            <h4 class="col">Plume</h4>
            <h4 class="col">Sands</h4>
            <h4 class="col">Goblet</h4>
            <h4 class="col">Circlet</h4>
        </div>
        <div class="row">
          {{> renderListAsColumn name="artifacts/flower" parent=../item items=../relatedItems.bestArtifacts.flower fields=../relatedItems.artifactFields}}
          {{> renderListAsColumn name="artifacts/plume" parent=../item items=../relatedItems.bestArtifacts.plume fields=../relatedItems.artifactFields}}
          {{> renderListAsColumn name="artifacts/sands" parent=../item items=../relatedItems.bestArtifacts.sands fields=../relatedItems.artifactFields}}
          {{> renderListAsColumn name="artifacts/goblet" parent=../item items=../relatedItems.bestArtifacts.goblet fields=../relatedItems.artifactFields}}
          {{> renderListAsColumn name="artifacts/circlet" parent=../item items=../relatedItems.bestArtifacts.circlet fields=../relatedItems.artifactFields}}
        </div>
    </div>
  {{/each}}
</div>