<div class="table-responsive scroller list" data-template="renderListAsTable" {{#if filter}}data-filter="{{filter}}"{{/if}} data-uuid="{{uuid item}}">
    <table class="table-list">
        <thead class="sticky-js">
            <tr class="group-row">
              {{#each groups}}
              {{#if label}}
                <th class="group-header group-starter group-ender" colspan="{{size}}" name="{{label}}" title="{{title}}" scope="colgroup">
                    <div>+ {{label}} +</div>
                </th>
              {{else}}
                <th class="" colspan="{{size}}" scope="colgroup"></th>
              {{/if}}
              {{/each}}
            </tr>
            <tr>
              {{#each fields}}
                <th
                  class="label {{fieldClasses field params=params}} {{#if (itemField '' field 'sort' params=params)}}sortable{{/if}} {{#if groupStarter}}group-starter{{/if}} {{#if groupEnder}}group-ender{{/if}}"
                  name="{{field.id}}"
                  title="{{itemField '' field 'labelTitle' params=params}}"
                  scope="col"
                  {{#if (itemField '' field 'group' params=params)}}data-group-name="{{lookup (itemField '' field 'group' params=params) 'label'}}"{{/if}}>
                    <span>{{{itemField "" field "label" params=params}}}</span>
                </th>
              {{/each}}
            </tr>
        </thead>
        <tbody class="list-target alt-bgs" data-uuid="{{uuid item}}">
          {{#each items}}
              {{> renderItemAsRow fields=../fields item=.}}
          {{/each}}
        </tbody>
    </table>
</div>
