<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Configure Showcase</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <select class="showcase-filter selectpicker" title="Filter items in showcase..." data-actions-box="true" multiple="multiple">
          {{#each items}}
            <option value="{{uuid .}}">{{getProperty . "name"}}</option>
          {{/each}}
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success popup-ok-btn" data-bs-dismiss="modal">Go</button>
      </div>
    </div>
  </div>
</div>
