{{#if item}}
{{#if (findField item field)}}
<{{wrapper}}
  class="list-item-field {{itemClasses item (findField item field) params=params}} {{fieldClasses (findField item field) params=params}} {{#if groupStarter}}group-starter{{/if}} {{#if groupEnder}}group-ender{{/if}} {{class}}"
  name="{{lookup (findField item field) 'id'}}"
  title="{{itemField item (findField item field) 'title' params=params}}"
  {{#if (lookup (findField item field) 'group')}}data-group-name="{{lookup (findField item field) 'group' 'label'}}"{{/if}}
  data-template="renderItemField"
  data-uuid="{{uuid item}}"
  {{#each params}}
  data-param{{@index}}="{{toParam .}}"
  {{/each}}
>
  {{itemChildren item (findField item field) params=params}}
</{{wrapper}}>
{{else}}
{{invalidPartialCall "renderItemField" "invalid field"}}
{{/if}}
{{else}}
{{invalidPartialCall "renderItemField" "invalid item"}}
{{/if}}