<div class="character-stats popup-section" data-template="renderCharacterStats" data-uuid="{{uuid item}}">
    <h3 class="popup-section-header collapsed" data-bs-toggle="collapse" href="#characterStats" title="All values should be accurate, though some may differ from what you see in game very slightly due to rounding errors. However, most characters and weapons still do not have their passives/cons factored in; you can see what bonusus are being applied in the Modifiers section, as well as toggle temporary/conditional bonuses on or off. Additionally, some numbers, especially preview numbers, may not update after every change you make. That said, changing artifact previews will force the entire stat section to update.">Current Stats (Work-in-Progress)</h3>
    <div id="characterStats" class="collapse popup-section-content">
        <div class="row">
            <div class="col-3" title="If you have a team set up with this character, you can select it here to see the team-wide modifiers provided by other members of the team.">
              {{> renderItemField item=item field="activeTeam" wrapper="span"}}
            </div>
            <div class="col-3">
              {{> renderItemField item=item field="teammate" params=(array 0) wrapper="span"}}
            </div>
            <div class="col-3">
              {{> renderItemField item=item field="teammate" params=(array 1) wrapper="span"}}
            </div>
            <div class="col-3">
              {{> renderItemField item=item field="teammate" params=(array 2) wrapper="span"}}
            </div>
        </div>
        
<!--    MAIN STATS    -->
        <div class="popup-subsection">
            <h4 class="popup-subsection-header" data-bs-toggle="collapse" href="#characterStats.MainStats">Main Stats</h4>
          {{> renderCharacterMainStats .}}
        </div>
      
<!--    NORMAL ATTACKS    -->
        <div class="popup-subsection">
            <h4 class="popup-subsection-header" data-bs-toggle="collapse" href="#characterStats.auto">Normal Attack</h4>
          {{> renderCharacterMotionValues . talent="auto"}}
        </div>
      
<!--    ELEMENTAL SKILL    -->
        <div class="popup-subsection">
            <h4 class="popup-subsection-header" data-bs-toggle="collapse" href="#characterStats.skill">Elemental Skill</h4>
          {{> renderCharacterMotionValues . talent="skill"}}
        </div>
      
<!--    ELEMENTAL BURST    -->
        <div class="popup-subsection">
            <h4 class="popup-subsection-header" data-bs-toggle="collapse" href="#characterStats.burst">Elemental Burst</h4>
          {{> renderCharacterMotionValues . talent="burst"}}
        </div>
      
<!--    REACTIONS    -->
        <div class="popup-subsection">
            <h4 class="popup-subsection-header" data-bs-toggle="collapse" href="#characterStats.Reactions">Reactions</h4>
          {{> renderCharacterReactions .}}
        </div>
      
<!--    PROCS    -->
        <div class="popup-subsection">
            <h4 class="popup-subsection-header" data-bs-toggle="collapse" href="#characterStats.ConditionalModifiers">Modifiers</h4>
          {{> renderCharacterStatModifiers .}}
        </div>
      
<!--    ENEMY STATS    -->
        <div class="popup-subsection">
          <h4 class="popup-subsection-header" data-bs-toggle="collapse" href="#characterStats.TargetEnemyStats">Target Enemy Stats</h4>
          <div id="characterStats.TargetEnemyStats" class="collapse show popup-subsection-content">
              <div class="row gx-1">
                <div class="col-2"><label for="enemyLevel" class="form-text">Level</label><input id="enemyLevel" class="enemy-stat form-control form-control-sm" type="number" min="1" max="100" value="{{item.list.targetEnemyData.enemyLevel}}"/></div>
                <div class="col-2"><label for="enemyAnemoRES" class="form-text">Anemo RES</label><input id="enemyAnemoRES" class="enemy-stat form-control form-control-sm" type="number" value="{{item.list.targetEnemyData.enemyAnemoRES}}"/></div>
                <div class="col-2"><label for="enemyCryoRES" class="form-text">Cryo RES</label><input id="enemyCryoRES" class="enemy-stat form-control form-control-sm" type="number" value="{{item.list.targetEnemyData.enemyCryoRES}}"/></div>
                <div class="col-2"><label for="enemyDendroRES" class="form-text">Dendro RES</label><input id="enemyDendroRES" class="enemy-stat form-control form-control-sm" type="number" value="{{item.list.targetEnemyData.enemyDendroRES}}"/></div>
                <div class="col-2"><label for="enemyElectroRES" class="form-text">Electro RES</label><input id="enemyElectroRES" class="enemy-stat form-control form-control-sm" type="number" value="{{item.list.targetEnemyData.enemyElectroRES}}"/></div>
                <div class="col-2"><label for="enemyGeoRES" class="form-text">Geo RES</label><input id="enemyGeoRES" class="enemy-stat form-control form-control-sm" type="number" value="{{item.list.targetEnemyData.enemyGeoRES}}"/></div>
                <div class="col-2"><label for="enemyHydroRES" class="form-text">Hydro RES</label><input id="enemyHydroRES" class="enemy-stat form-control form-control-sm" type="number" value="{{item.list.targetEnemyData.enemyHydroRES}}"/></div>
                <div class="col-2"><label for="enemyPyroRES" class="form-text">Pyro RES</label><input id="enemyPyroRES" class="enemy-stat form-control form-control-sm" type="number" value="{{item.list.targetEnemyData.enemyPyroRES}}"/></div>
                <div class="col-2"><label for="enemyPhysicalRES" class="form-text">Physical RES</label><input id="enemyPhysicalRES" class="enemy-stat form-control form-control-sm" type="number" value="{{item.list.targetEnemyData.enemyPhysicalRES}}"/></div>
              </div>
          </div>
        </div>
      
<!--    PREVIEW CHANGES    -->
        <div class="popup-subsection">
          <h4 class="popup-subsection-header" data-bs-toggle="collapse" href="#characterStats.PreviewChanges">Preview Changes</h4>
          <div id="characterStats.PreviewChanges" class="collapse show popup-subsection-content">
              <div class="row gx-1">
                <div class="col-2"><label for="previewLevel" class="form-text">Character Level</label><input id="previewLevel" data-stat="level" class="preview-stat form-control form-control-sm" type="number" min="1" max="90" value="{{nco item.preview.level (getProperty item 'level')}}" data-current="{{getProperty item 'level'}}"/></div>
                <div class="col-2"><label for="previewAscend" class="form-text">Char. Ascension</label><input id="previewAscend" data-stat="ascension" class="preview-stat form-control form-control-sm" type="number" min="0" max="6" value="{{nco item.preview.ascension (getProperty item 'ascension')}}" data-current="{{getProperty item 'ascension'}}"/></div>
                <div class="col-2"><label for="previewCons" class="form-text">Constellations</label><input id="previewCons" data-stat="constellation" class="preview-stat form-control form-control-sm" type="number" min="0" max="6" value="{{nco item.preview.constellation (getProperty item 'constellation')}}" data-current="{{getProperty item 'constellation'}}"/></div>
                <div class="col-2"><label for="previewTalentAuto" class="form-text">Auto Level</label><input id="previewTalentAuto" data-stat="autoTalent" class="preview-stat form-control form-control-sm" type="number" min="1" max="10" value="{{nco item.preview.autoTalent (getProperty item 'talent.auto')}}" data-current="{{getProperty item 'talent.auto'}}"/></div>
                <div class="col-2"><label for="previewTalentSkill" class="form-text">Skill Level</label><input id="previewTalentSkill" data-stat="skillTalent" class="preview-stat form-control form-control-sm" type="number" min="1" max="10" value="{{nco item.preview.skillTalent (getProperty item 'talent.skill')}}" data-current="{{getProperty item 'talent.skill'}}"/></div>
                <div class="col-2"><label for="previewTalentBurst" class="form-text">Burst Level</label><input id="previewTalentBurst" data-stat="burstTalent" class="preview-stat form-control form-control-sm" type="number" min="1" max="10" value="{{nco item.preview.burstTalent (getProperty item 'talent.burst')}}" data-current="{{getProperty item 'talent.burst'}}"/></div>
                <div class="col-2">
                  <label for="previewWeapon" class="form-text">Weapon</label>
                  <select id="previewWeapon" class="preview-stat form-select form-select-sm" data-current="{{uuid (lookup item 'weapon')}}">
                    {{#each (weaponList item filter=(getProperty item 'weaponType'))}}
                      <option value="{{uuid .}}"{{#ifeq (uuid (nco ../item.preview.weapon (lookup ../item 'weapon'))) (uuid .)}} selected="selected"{{/ifeq}}>R{{getProperty . 'refinement'}} {{getProperty . 'name'}} Lv.{{getProperty . 'level'}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="col-2"><label for="previewWeaponLevel" class="form-text">Weapon Level</label><input id="previewWeaponLevel" data-stat="weaponLevel" class="preview-stat form-control form-control-sm" type="number" min="1" max="90" value="{{nco item.preview.weaponLevel (getProperty (getProperty item 'weapon') 'level')}}" data-current="{{getProperty (getProperty item 'weapon') 'level'}}"/></div>
                <div class="col-2"><label for="previewWeaponAscend" class="form-text">Weap. Ascension</label><input id="previewWeaponAscend" data-stat="weaponAscension" class="preview-stat form-control form-control-sm" type="number" min="0" max="6" value="{{nco item.preview.weaponAscension (getProperty (getProperty item 'weapon') 'ascension')}}" data-current="{{getProperty (getProperty item 'weapon') 'ascension'}}"/></div>
                <div class="col-2"><label for="previewRefinement" class="form-text">Weap. Refinement</label><input id="previewRefinement" data-stat="refinement" class="preview-stat form-control form-control-sm" type="number" min="1" max="5" value="{{nco item.preview.refinement (getProperty (getProperty item 'weapon') 'refinement')}}" data-current="{{getProperty (getProperty item 'weapon') 'refinement'}}"/></div>
              </div>
              <button class="preview-reset btn btn-sm btn-outline-dark"><i class="fa-solid fa-rotate-left"></i></button>
          </div>
        </div>
    </div>
</div>