<div class="modal-content list-item" data-template="renderArtifactAsPopup" data-uuid="{{uuid item}}">
    <div class="modal-body">
        <button type="button" class="btn-close float-end" data-bs-dismiss="modal"></button>
        <div class="row">
            <h5 class="col-2">Set</h5>
            <h5 class="col-2">Slot</h5>
            <h5 class="col-2">Level</h5>
            <h5 class="col-2">Main</h5>
            <h5 class="col-2">Lock</h5>
            <h5 class="col-2">User</h5>
        </div>
        <div class="row">
            <div class="col-2">{{> renderItemField item=item field="set" wrapper="div"}}</div>
            <div class="col-2">{{> renderItemField item=item field="slot" wrapper="div"}}</div>
            <div class="col-2">{{> renderItemField item=item field="level" wrapper="div"}}</div>
            <div class="col-2">{{> renderItemField item=item field="mainStat" wrapper="div"}}</div>
            <div class="col-2">{{> renderItemField item=item field="lock" wrapper="div"}}</div>
            <div class="col-2">{{> renderItemField item=item field="location" wrapper="div"}}</div>
        </div>
        <div class="row">
            <h5 class="col-1">C.Rate</h5>
            <h5 class="col-1">C.DMG</h5>
            <h5 class="col-1">ATK%</h5>
            <h5 class="col-1">ER%</h5>
            <h5 class="col-1">EM</h5>
            <h5 class="col-1">HP%</h5>
            <h5 class="col-1">DEF%</h5>
            <h5 class="col-1">ATK</h5>
            <h5 class="col-1">HP</h5>
            <h5 class="col-1">DEF</h5>
            <h5 class="col-2">Desirability</h5>
        </div>
        <div class="row">
            <div class="col-1">{{> renderItemField item=item field="critRate_Sum" wrapper="div"}}</div>
            <div class="col-1">{{> renderItemField item=item field="critDMG_Sum" wrapper="div"}}</div>
            <div class="col-1">{{> renderItemField item=item field="atk_Sum" wrapper="div"}}</div>
            <div class="col-1">{{> renderItemField item=item field="enerRech_Sum" wrapper="div"}}</div>
            <div class="col-1">{{> renderItemField item=item field="eleMasSum" wrapper="div"}}</div>
            <div class="col-1">{{> renderItemField item=item field="hp_Sum" wrapper="div"}}</div>
            <div class="col-1">{{> renderItemField item=item field="def_Sum" wrapper="div"}}</div>
            <div class="col-1">{{> renderItemField item=item field="atkSum" wrapper="div"}}</div>
            <div class="col-1">{{> renderItemField item=item field="hpSum" wrapper="div"}}</div>
            <div class="col-1">{{> renderItemField item=item field="defSum" wrapper="div"}}</div>
            <div class="col-2">{{> renderItemField item=item field="characterCount" wrapper="div"}}</div>
        </div>
        <hr/>
        <div class="row">
            <h5 class="col-1">Prio</h5>
            <h5 class="col-2">Character</h5>
            <h5 class="col-1">Build</h5>
            <h5 class="col-1">On Set</h5>
            <h5 class="col-1">Desire</h5>
            <h5 class="col-2">Score</h5>
            <h5 class="col-2">Scaled</h5>
            <h5 class="col-2">Final</h5>
        </div>
      {{#each item.wanters}}
        <div class="row">
            <div class="col-1">#{{math @key "+" 1}}</div>
            <div class="col-2">{{> renderItemField item=character field="name" wrapper="div"}}</div>
            <div class="col-1">{{buildName character buildId}}</div>
            <div class="col-1">{{#if onSet}}Yes{{/if}}</div>
            <div class="col-1">#{{rank}}</div>
            <div class="col-2">{{math (math "round" (math score "*" 100000)) "/" 1000}}</div>
            <div class="col-2">{{math (math "round" (math scaledScore "*" 100000)) "/" 1000}}</div>
            <div class="col-2">{{math (math "round" (math (math "pow" scaledScore (math @key "+" 1)) "*" 100000)) "/" 1000}}</div>
        </div>
      {{/each}}
    </div>
</div>