<div class="list-item {{#ifeq character.key item.location}}equipped{{/ifeq}} {{#iffave character item.setKey}}favorite{{/iffave}}" name="{{unique item}}" data-template="renderArtifactAsCard">
  {{> renderItemField item=item field=fields.set wrapper="div"}}
    <div class="row main-stats">
      <div class="col level">+{{> renderItemField item=item field=fields.level wrapper="span"}}</div>
      <div class="col stat-key">{{artifactStat item.mainStatKey}}</div>
      <div class="col stat-value">{{artifactRating item character}}</div>
    </div>
  {{#if item.substats.[0].value}}
    <div class="substat row">
        <div class="col-3">{{artifactStat item.substats.[0].key}}</div>
        <div class="col-3">{{item.substats.[0].value}}</div>
        <div class="col-3">{{artifactRating item item.substats.[0].key}}</div>
        <div class="col-3">{{artifactRating item item.substats.[0].key character}}</div>
    </div>
  {{/if}}
  {{#if item.substats.[1].value}}
    <div class="substat row">
        <div class="col-3">{{artifactStat item.substats.[1].key}}</div>
        <div class="col-3">{{item.substats.[1].value}}</div>
        <div class="col-3">{{artifactRating item item.substats.[1].key}}</div>
        <div class="col-3">{{artifactRating item item.substats.[1].key character}}</div>
    </div>
  {{/if}}
  {{#if item.substats.[2].value}}
    <div class="substat row">
        <div class="col-3">{{artifactStat item.substats.[2].key}}</div>
        <div class="col-3">{{item.substats.[2].value}}</div>
        <div class="col-3">{{artifactRating item item.substats.[2].key}}</div>
        <div class="col-3">{{artifactRating item item.substats.[2].key character}}</div>
    </div>
  {{/if}}
  {{#if item.substats.[3].value}}
    <div class="substat row">
        <div class="col-3">{{artifactStat item.substats.[3].key}}</div>
        <div class="col-3">{{item.substats.[3].value}}</div>
        <div class="col-3">{{artifactRating item item.substats.[3].key}}</div>
        <div class="col-3">{{artifactRating item item.substats.[3].key character}}</div>
    </div>
  {{/if}}
  {{#if item.location}}
    <div class="equip"><b>User:</b> {{item.location}}</div>
  {{/if}}
    <button class="btn btn-sm btn-outline-secondary equip-artifact" title="Equip this artifact."><i class="fa-solid fa-person-rays"></i></button>
</div>