<div class="character-build" name="{{relatedItems.buildName}}" data-template="renderCharacterBuild" data-uuid="{{uuid item}}">
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <span class="nav-link disabled text-dark fw-bold">Build:</span>
                </li>
              {{#each relatedItems.builds}}
                <li class="nav-item">
                    <a class="nav-link {{#ifeq . ../relatedItems.buildName}}active{{else}}select-build{{/ifeq}}">{{.}}</a>
                </li>
              {{/each}}
            </ul>
        </div>
        <div class="col-auto">
            <div class="input-group">
                <input id="addBuildFld" class="form-control" type="text"/>
                <button id="addBuildBtn" class="btn btn-primary" title="Add new build."><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>
        <div class="col-auto">
            <button id="deleteBuildBtn" class="btn btn-danger" title="{{#ifeq relatedItems.buildName "default"}}Cannot delete the default build.{{else}}Delete this build.{{/ifeq}}"{{#ifeq relatedItems.buildName "default"}} disabled="disabled"{{/ifeq}}><i class="fa-solid fa-trash"></i></button>
        </div>
    </div>
  
    <h3>Artifact Sets</h3>
    <select id="bestArtifactSets" class="form-control selectpicker" multiple="multiple">
      {{#each relatedItems.artifactSets as |set setKey|}}
        <option value="{{setKey}}" {{#iffave ../item setKey ../relatedItems.buildName}}selected{{/iffave}}>{{set.name}}</option>
      {{/each}}
    </select>
    
    <hr/>
    <h3>Artifact Stat Priorities</h3>
    <div class="row">
        <div class="col-6">
            <h4>Substats</h4>
          {{> renderArtifactStatSlider . type="artifactSubstats" statId="hp" value=relatedItems.buildData.artifactSubstats.hp}}
          {{> renderArtifactStatSlider . type="artifactSubstats" statId="atk" value=relatedItems.buildData.artifactSubstats.atk}}
          {{> renderArtifactStatSlider . type="artifactSubstats" statId="def" value=relatedItems.buildData.artifactSubstats.def}}
          {{> renderArtifactStatSlider . type="artifactSubstats" statId="hp_" value=relatedItems.buildData.artifactSubstats.hp_}}
          {{> renderArtifactStatSlider . type="artifactSubstats" statId="atk_" value=relatedItems.buildData.artifactSubstats.atk_}}
          {{> renderArtifactStatSlider . type="artifactSubstats" statId="def_" value=relatedItems.buildData.artifactSubstats.def_}}
          {{> renderArtifactStatSlider . type="artifactSubstats" statId="eleMas" value=relatedItems.buildData.artifactSubstats.eleMas}}
          {{> renderArtifactStatSlider . type="artifactSubstats" statId="enerRech_" value=relatedItems.buildData.artifactSubstats.enerRech_}}
          {{> renderArtifactStatSlider . type="artifactSubstats" statId="critRate_" value=relatedItems.buildData.artifactSubstats.critRate_}}
          {{> renderArtifactStatSlider . type="artifactSubstats" statId="critDMG_" value=relatedItems.buildData.artifactSubstats.critDMG_}}
            <h4>Sands Stats</h4>
          {{> renderArtifactStatSlider . type="sandsStat" statId="hp_" value=relatedItems.buildData.sandsStat.hp_}}
          {{> renderArtifactStatSlider . type="sandsStat" statId="atk_" value=relatedItems.buildData.sandsStat.atk_}}
          {{> renderArtifactStatSlider . type="sandsStat" statId="def_" value=relatedItems.buildData.sandsStat.def_}}
          {{> renderArtifactStatSlider . type="sandsStat" statId="eleMas" value=relatedItems.buildData.sandsStat.eleMas}}
          {{> renderArtifactStatSlider . type="sandsStat" statId="enerRech_" value=relatedItems.buildData.sandsStat.enerRech_}}
        </div>
        <div class="col-6">
            <h4>Goblet Stats</h4>
          {{> renderArtifactStatSlider . type="gobletStat" statId="hp_" value=relatedItems.buildData.gobletStat.hp_}}
          {{> renderArtifactStatSlider . type="gobletStat" statId="atk_" value=relatedItems.buildData.gobletStat.atk_}}
          {{> renderArtifactStatSlider . type="gobletStat" statId="def_" value=relatedItems.buildData.gobletStat.def_}}
          {{> renderArtifactStatSlider . type="gobletStat" statId="eleMas" value=relatedItems.buildData.gobletStat.eleMas}}
          {{> renderArtifactStatSlider . type="gobletStat" statId=(concat (lower (getProperty item "element")) "_dmg_") value=(lookup relatedItems.buildData.gobletStat (concat (lower (getProperty item "element")) "_dmg_"))}}
          {{> renderArtifactStatSlider . type="gobletStat" statId="physical_dmg_" value=relatedItems.buildData.gobletStat.physical_dmg_}}
            <h4>Circlet Stats</h4>
          {{> renderArtifactStatSlider . type="circletStat" statId="hp_" value=relatedItems.buildData.circletStat.hp_}}
          {{> renderArtifactStatSlider . type="circletStat" statId="atk_" value=relatedItems.buildData.circletStat.atk_}}
          {{> renderArtifactStatSlider . type="circletStat" statId="def_" value=relatedItems.buildData.circletStat.def_}}
          {{> renderArtifactStatSlider . type="circletStat" statId="eleMas" value=relatedItems.buildData.circletStat.eleMas}}
          {{> renderArtifactStatSlider . type="circletStat" statId="critRate_" value=relatedItems.buildData.circletStat.critRate_}}
          {{> renderArtifactStatSlider . type="circletStat" statId="critDMG_" value=relatedItems.buildData.circletStat.critDMG_}}
          {{> renderArtifactStatSlider . type="circletStat" statId="heal_" value=relatedItems.buildData.circletStat.heal_}}
            <div class="row mt-2 gx-1">
                <div class="col-1 align-self-center">
                  <input class="form-check form-check-input" type="checkbox" id="useTargets" value="targets" title="Toggle whether to respect the ER% and Crit ratio limiters when sorting the artifact lists below. Leaving this disabled might make it easier to select artifacts when first equipping a character. Enabling it might make it easier to fine-tune your artifact stats."/>
                </div>
                <div class="col-6" title="If a piece won't get you to your minimum ER%, its rank will be penalized based on how low your ER% is with it. If a piece would put you over your maximum ER%, all excess ER% that it provides past your maximum will be ignored.">
                    <div class="input-group">
                        <label class="input-group-text pe-2" for="characterMinER">ER% Target:</label>
                        <input id="characterMinER" class="stat-target form-control pe-1" type="number" min="100" max="999" value="{{relatedItems.buildData.minER}}"/>
                        <label class="input-group-text px-1" for="characterMaxER">to</label>
                        <input id="characterMaxER" class="stat-target form-control ps-1" type="number" min="100" max="999" value="{{relatedItems.buildData.maxER}}"/>
                    </div>
                </div>
                <div class="col-5">
                    <div class="input-group">
                        <label class="input-group-text pe-2" for="characterRatioCritRate" title="Your desired ratio for Crit Rate to Crit DMG. If enabled, pieces will have an additional factor when sorted on the lists below based on whether they get you closer to or further from this ratio.">Crit Ratio:</label>
                        <input id="characterRatioCritRate" class="stat-target form-control pe-1" type="number" title="Crit Rate" min="0" max="10" value="{{relatedItems.buildData.ratioCritRate}}"/>
                        <label class="input-group-text px-1" for="characterRatioCritDMG">/</label>
                        <input id="characterRatioCritDMG" class="stat-target form-control ps-1" type="number" title="Crit DMG" min="0" max="10" value="{{relatedItems.buildData.ratioCritDMG}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <hr/>
    <h3>Best Artifacts That You Have</h3>
  {{> renderCharacterArtifactLists .}}
</div>