<div class="modal-content list-item" data-template="renderCharacterAsPopup" data-uuid="{{uuid item}}">
    <div class="modal-body">
        <button type="button" class="btn-close float-end" data-bs-dismiss="modal"></button>
        <div class="row">
            <div class="col-auto">
                <div class="item-display item-character display-md">
                    <div class="display-img rarity-{{getProperty item 'rarity'}}">
                      {{> renderItemField item=item field="image" wrapper="div"}}
                    </div>
                    <div class="display-caption">
                      {{getProperty item "name"}}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <h5 class="col-2">Level</h5>
                    <h5 class="col-2">Constellations</h5>
                    <h5 class="col-2">Stat</h5>
                </div>
                <div class="row">
                    <div class="col-2">{{> renderItemField item=item field="level" wrapper="div"}}</div>
                    <div class="col-2">{{> renderItemField item=item field="constellation" wrapper="div"}}</div>
                    <div class="col-2">{{> renderItemField item=item field="ascendStat" wrapper="div"}}</div>
                </div>
            </div>
        </div>
        
      {{#if item.base}}
        <div class="row">
            <div class="col-auto">Variants:</div>
          {{#each item.base.variants}}
            <div class="col-auto list-item" data-uuid="{{uuid .}}">{{> renderItemField item=. field="name" wrapper="span"}}</div>
          {{/each}}
        </div>
      {{/if}}
        
        <hr/>
        <h3 class="collapsed" data-bs-toggle="collapse" href="#ascensionMaterials">Ascension Materials</h3>
        <div id="ascensionMaterials" class="table-responsive collapse">
            <table class="table">
                <thead>
                    <tr>
                        <th>Phase</th>
                        <th>Gems</th>
                        <th>World Boss Drops</th>
                        <th>Flora</th>
                        <th>Enemy Drops</th>
                        <th>Mora</th>
                    </tr>
                </thead>
                <tbody>
                  {{#times 6}}
                    <tr>
                      {{> renderItemField item=item field=(concat "ascension" @index) wrapper="td"}}
                      {{> renderItemField item=item field=(concat "gemAscMat" @index) wrapper="td"}}
                      {{> renderItemField item=item field=(concat "bossAscMat" @index) wrapper="td"}}
                      {{> renderItemField item=item field=(concat "flowerAscMat" @index) wrapper="td"}}
                      {{> renderItemField item=item field=(concat "enemyAscMat" @index) wrapper="td"}}
                      {{> renderItemField item=item field=(concat "moraAscMat" @index) wrapper="td"}}
                    </tr>
                  {{/times}}
                </tbody>
            </table>
        </div>
        
        <hr/>
        <h3 class="collapsed" data-bs-toggle="collapse" href="#talentMaterials">Talent Materials</h3>
        <div id="talentMaterials" class="table-responsive collapse">
            <table class="table">
                <thead>
                    <tr>
                        <th>Level</th>
                        <th class="talent-mastery">Mastery</th>
                        <th class="talent-enemy">Enemy</th>
                        <th class="talent-trounce">Trounce</th>
                        <th class="talent-crown">Crown</th>
                        <th class="talent-crown">Mora</th>
                    </tr>
                </thead>
                <tbody>
                  {{#times 9 start=1}}
                    <tr>
                      {{> renderItemField item=item field=(concat "talentLvl" @index) wrapper="td"}}
                      {{> renderItemField item=item field=(concat "talentMasteryMat" @index) wrapper="td"}}
                      {{> renderItemField item=item field=(concat "talentEnemyMat" @index) wrapper="td"}}
                      {{> renderItemField item=item field=(concat "talentTrounceMat" @index) wrapper="td"}}
                      {{> renderItemField item=item field=(concat "talentCrownMat" @index) wrapper="td"}}
                      {{> renderItemField item=item field=(concat "talentMoraMat" @index) wrapper="td"}}
                    </tr>
                  {{/times}}
                </tbody>
            </table>
        </div>
        
        <hr/>
      {{> renderCharacterStats .}}
        <hr/>
      {{> renderCharacterBuild .}}
    </div>
</div>